/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.min.css";
@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import "ngx-toastr/toastr";

div.card-header {
  font-size: large;
}

div.card {
  margin-top: 10px;
}

.table {
  margin-top: 10px;
}

app-action-icon ng-icon svg {
  display: block;
}

.navbar .nav-link.active app-action-icon ng-icon svg {
  stroke-width: 2.5;
}
