version: "3.6"
services:
    db:
        image: "mcr.microsoft.com/mssql/server:2017-latest"
        ports:
            - "1434:1433"
        environment:
            SA_PASSWORD: "sqladmin123!@#"
            MSSQL_PID: "Developer"
            ACCEPT_EULA: "Y"
    rabbitmq:
        image: "rabbitmq:3-management"
        ports:
          - "5672:5672"
          - "15672:15672"
    mailhog:
        image: mailhog/mailhog
        ports: 
          - 1025:1025 # smtp server
          - 8025:8025 # web ui
    migrator:
        image: classifiedads.modularmonolith.migrator
        build:
          context: .
          dockerfile: ./ClassifiedAds.Migrator/Dockerfile
        volumes:
            - D:\\ClassifiedAds.ModularMonolith\\Logs\\Migrator:/ClassifiedAds.ModularMonolith/logs
        depends_on:
          - db
        environment:
          ASPNETCORE_ENVIRONMENT: ${ASPNETCORE_ENVIRONMENT}
          ConnectionStrings__ClassifiedAds: ${ConnectionStrings__ClassifiedAds}
          CheckDependency__Enabled: "true"
          CheckDependency__Host: "db:1433"
    identityserver:
        image: classifiedads.modularmonolith.identityserver
        build:
          context: .
          dockerfile: ./ClassifiedAds.IdentityServer/Dockerfile
        ports:
            - "9000:80"
        volumes:
            - D:\\ClassifiedAds.ModularMonolith\\Logs\\IdentityServer:/ClassifiedAds.ModularMonolith/logs
        depends_on:
          - db
          - migrator
          - rabbitmq
        environment:
          ASPNETCORE_ENVIRONMENT: ${ASPNETCORE_ENVIRONMENT}
          ConnectionStrings__ClassifiedAds: ${ConnectionStrings__ClassifiedAds}
          CookiePolicyOptions__IsEnabled: "true"
          CookiePolicyOptions__MinimumSameSitePolicy: "Lax"
          CookiePolicyOptions__Secure: "None"
          MessageBroker__Provider: ${MessageBroker__Provider}
          MessageBroker__RabbitMQ__HostName: ${MessageBroker__RabbitMQ__HostName}
    webapi:
        image: classifiedads.modularmonolith.webapi
        build:
          context: .
          dockerfile: ./ClassifiedAds.WebAPI/Dockerfile
        ports:
            - "9002:80"
        volumes:
            - D:\\ClassifiedAds.ModularMonolith\\Logs\\WebAPI:/ClassifiedAds.ModularMonolith/logs
            - D:\\ClassifiedAds.ModularMonolith\\Files:/files
        depends_on:
          - db
          - migrator
          - rabbitmq
        environment:
          ASPNETCORE_ENVIRONMENT: ${ASPNETCORE_ENVIRONMENT}
          ConnectionStrings__ClassifiedAds: ${ConnectionStrings__ClassifiedAds}
          IdentityServerAuthentication__Authority: "http://host.docker.internal:9000"
          IdentityServerAuthentication__RequireHttpsMetadata: "false"
          MessageBroker__Provider: ${MessageBroker__Provider}
          MessageBroker__RabbitMQ__HostName: ${MessageBroker__RabbitMQ__HostName}
          Storage__Provider: ${Storage__Provider}
          Storage__Local__Path: ${Storage__Local__Path}
    backgroundserver:
        image: classifiedads.modularmonolith.backgroundserver
        build:
          context: .
          dockerfile: ./ClassifiedAds.BackgroundServer/Dockerfile
        ports:
            - "9004:80"
        volumes:
            - D:\\ClassifiedAds.ModularMonolith\\Logs\\BackgroundServer:/ClassifiedAds.ModularMonolith/logs
        depends_on:
          - db
          - migrator
          - rabbitmq
          - mailhog
        environment:
          ASPNETCORE_ENVIRONMENT: ${ASPNETCORE_ENVIRONMENT}
          ConnectionStrings__ClassifiedAds: ${ConnectionStrings__ClassifiedAds}
          CheckDependency__Enabled: "true"
          CheckDependency__Host: "migrator:80,rabbitmq:5672"
          NotificationServer__Endpoint: "http://notificationserver"
          MessageBroker__Provider: ${MessageBroker__Provider}
          MessageBroker__RabbitMQ__HostName: ${MessageBroker__RabbitMQ__HostName}
          Storage__Provider: ${Storage__Provider}
          Storage__Local__Path: ${Storage__Local__Path}
          Notification__Email__Provider: "SmtpClient"
          Notification__Email__SmtpClient__Host: "mailhog"
          Notification__Email__SmtpClient__Port: "1025"
          Notification__Sms__Provider: "Fake"
          Notification__Sms__Twilio__AccountSId: ""
          Notification__Sms__Twilio__AuthToken: ""
          Notification__Sms__Twilio__FromNumber: ""
