thead {
  color: #337ab7;
}
.copy-icon {
  cursor: pointer;
  color: #007bff;
  padding: 5px;
}
.copy-icon:hover {
  color: #0056b3;
}

.view-json-icon {
  cursor: pointer;
  color: #007bff;
  padding: 5px;
}
.view-json-icon:hover {
  color: #0056b3;
}
