<ul class="pagination">
  <li class="page-item" [class.disabled]="currentPage == 1">
    <a class="page-link" (click)="selectPage(1)"><app-action-icon action="first" />First</a>
  </li>
  <li class="page-item" [class.disabled]="currentPage == 1">
    <a class="page-link" (click)="selectPage(currentPage - 1)"><app-action-icon action="previous" />Previous</a>
  </li>

  @for (pageNumber of pageNumbers; track pageNumber) {
    <li
      class="page-item"
      [class.active]="currentPage == pageNumber"
      >
      <a class="page-link" (click)="selectPage(pageNumber)">{{ pageNumber }}</a>
    </li>
  }

  <li class="page-item" [class.disabled]="currentPage == totalPages">
    <a class="page-link" (click)="selectPage(currentPage + 1)"><app-action-icon action="next" />Next</a>
  </li>
  <li class="page-item" [class.disabled]="currentPage == totalPages">
    <a class="page-link" (click)="selectPage(totalPages)"><app-action-icon action="last" />Last</a>
  </li>
</ul>
