@page "/users/edit/{Id:guid}"
@attribute [Authorize]

@using ClassifiedAds.Blazor.Modules.Users.Components

<div class="card">
    <div class="card-header">Edit User: @User.UserName</div>
    <div class="card-body">
        <AddEdit User="User"></AddEdit>
    </div>
    <div class="card-footer">
        <a class="btn btn-outline-secondary"
           href="@("/users")"
           style="width: 80px;">
            <i class="fa fa-chevron-left"></i> Back
        </a>
    </div>
</div>