@{
    var version = typeof(IdentityServer4.Hosting.IdentityServerMiddleware).Assembly.GetName().Version.ToString();
}

<div class="welcome-block px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">
        <img class="icon" src="~/icon.jpg">
        Welcome to IdentityServer4 <small>(version @version)</small>
    </h1>
    <p class="lead">
        IdentityServer publishes a
        <a href="~/.well-known/openid-configuration">discovery document</a>
        where you can find metadata and links to all the endpoints, key material, etc.
    </p>
</div>

<!-- Cards -->
<div class="card-deck mb-3 text-center">
    <!-- Clients -->
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Clients</h4>
        </div>
        <div class="card-body">
            <h1 class="card-title">
                <span class="oi oi-monitor" title="Clients" aria-hidden="true"></span>
            </h1>
            <a asp-controller="Client" asp-action="Index" class="btn btn-lg btn-block btn-primary">Manage</a>
        </div>
    </div>
    <!-- Identity Resources -->
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Identity Resources</h4>
        </div>
        <div class="card-body">
            <h1 class="card-title">
                <span class="oi oi-tags" title="Identity Resources" aria-hidden="true"></span>
            </h1>
            <a asp-controller="IdentityResource" asp-action="Index" class="btn btn-lg btn-block btn-outline-primary">Manage</a>
        </div>
    </div>
    <!-- Api Resources -->
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Api Resources</h4>
        </div>
        <div class="card-body">
            <h1 class="card-title">
                <span class="oi oi-cloud" title="Api Resources" aria-hidden="true"></span>
            </h1>
            <a asp-controller="ApiResource" asp-action="Index" class="btn btn-lg btn-block btn-primary">Manage</a>
        </div>
    </div>
</div>
<div class="card-deck mb-3 text-center">
    <!-- Persisted Grants -->
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Persisted Grants</h4>
        </div>
        <div class="card-body">
            <h1 class="card-title">
                <span class="oi oi-key" title="Persisted Grants" aria-hidden="true"></span>
            </h1>
            <a asp-controller="Grants" asp-action="Index" class="btn btn-lg btn-block btn-outline-primary">Manage</a>
        </div>
    </div>
    <!-- Users -->
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Users</h4>
        </div>
        <div class="card-body">
            <h1 class="card-title">
                <span class="oi oi-person" title="Users" aria-hidden="true"></span>
            </h1>
            <a asp-controller="User" asp-action="Index" class="btn btn-lg btn-block btn-primary">Manage</a>
        </div>
    </div>
    <!-- Roles -->
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Roles</h4>
        </div>
        <div class="card-body">
            <h1 class="card-title">
                <span class="oi oi-lock-locked" title="Roles" aria-hidden="true"></span>
            </h1>
            <a asp-controller="Role" asp-action="Index" class="btn btn-lg btn-block btn-outline-primary">Manage</a>
        </div>
    </div>
</div>