<nav class="navbar navbar-expand bg-body">
  <a class="navbar-brand" href="/"><app-action-icon action="home" />{{ pageTitle | appendVersion }}</a>
  <ul class="nav nav-tabs flex-grow-1 flex-nowrap nav-pages">
    <li>
      <a class="nav-link" routerLinkActive="active" [routerLink]="['/welcome']"
        ><app-action-icon action="home" />Home
      </a>
    </li>
    <li>
      <a class="nav-link" routerLinkActive="active" [routerLink]="['/settings']"
        ><app-action-icon action="settings" />Settings
      </a>
    </li>
    <li>
      <a class="nav-link" routerLinkActive="active" [routerLink]="['/files']">
        <app-action-icon action="files" />Files
      </a>
    </li>
    <li>
      <a
        class="nav-link"
        routerLinkActive="active"
        [routerLink]="['/products']"
        >
        <app-action-icon action="products" />Products
      </a>
    </li>
    <li>
      <a class="nav-link" routerLinkActive="active" [routerLink]="['/users']">
        <app-action-icon action="users" />Users
      </a>
    </li>
    <li><a class="nav-link" routerLinkActive="active" [routerLink]="['/roles']"><app-action-icon action="roles" />Roles</a></li>
    <li>
      <a
        class="nav-link"
        routerLinkActive="active"
        [routerLink]="['/auditlogs']"
        >
        <app-action-icon action="audit" />Audit Logs
      </a>
    </li>
  </ul>
  <div class="nav-utilities d-flex align-items-center gap-2 ms-auto flex-shrink-0">
    @if (!auth.isAuthenticated()) {
      <a class="nav-link" (click)="login()" href="javascript:void(0)"><app-action-icon action="login" />Login</a>
    }
    @if (auth.isAuthenticated()) {
      <a class="nav-link" (click)="logout()" href="javascript:void(0)"><app-action-icon action="logout" />Logout</a>
    }
    <app-theme-switcher />
  </div>
</nav>
