apiVersion: v1
kind: ConfigMap
metadata:
  name: notification
data:
  ASPNETCORE_ENVIRONMENT: "Development"
  ConnectionStrings__ClassifiedAds: "Server=db;Database=ClassifiedAds.Microservices;User Id=sa;Password=sqladmin123!@#;MultipleActiveResultSets=true"
  MessageBroker__Provider: "RabbitMQ"
  MessageBroker__RabbitMQ__HostName: "rabbitmq"
  Notification__Email__Provider: "SmtpClient"
  Notification__Email__SmtpClient__Host: "mailhog"
  Notification__Email__SmtpClient__Port: "1025"
  Notification__Sms__Provider: "Fake"
  Notification__Sms__Twilio__AccountSId: ""
  Notification__Sms__Twilio__AuthToken: ""
  Notification__Sms__Twilio__FromNumber: ""