@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <AuthorizeView>
            <Authorized>
                <a href="https://github.com/phongnguyend/Practical.CleanArchitecture" target="_blank">Hello (@context.User.Identity.Name)</a>
            </Authorized>
        </AuthorizeView>
        <a href="https://github.com/phongnguyend/Practical.CleanArchitecture" target="_blank">About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
