<div class="card">
  <div class="card-header">Audit Logs</div>
  <div class="card-body">
    <div class="table-responsive">
      <div style="float: right">
        <app-pagination
          [totalItems]="totalItems"
          [currentPage]="currentPage"
          [pageSize]="5"
          (pageSelected)="pageChanged($event)"
        >
        </app-pagination>
      </div>
      <table class="table" *ngIf="auditLogs">
        <thead>
          <tr>
            <th>Date Time</th>
            <th>User Name</th>
            <th>Action</th>
            <th>Data</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let auditLog of auditLogs">
            <td>
              {{ auditLog.createdDateTime | date: "dd/MM/yyyy hh:mm:ss" }}
            </td>
            <td>{{ auditLog.userName }}</td>
            <td>{{ auditLog.action }}</td>
            <td>
              <div class="position-relative">
                <div class="position-absolute top-0 end-0">
                  <div class="d-flex">
                    <app-copy-to-clipboard
                      [text]="auditLog.log"
                      [className]="'custom-icon fa fa-copy'"
                      [title]="'Copy this text'"
                    ></app-copy-to-clipboard>
                  </div>
                </div>
                <div class="pe-5">{{ auditLog.log }}</div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div style="float: right">
        <app-pagination
          [totalItems]="totalItems"
          [currentPage]="currentPage"
          [pageSize]="5"
          (pageSelected)="pageChanged($event)"
        >
        </app-pagination>
      </div>
    </div>
  </div>
</div>
