@using ClassifiedAds.IdentityServer.Models.ClientModels
@model ClientModel

<div class="card mt-3">
    <h5 class="card-header">Device Flow</h5>
    <div class="card-body">
        <!--Input - text -->
        <div class="form-group row">
            <label asp-for="UserCodeType" class="col-sm-3 col-form-label">
                @await Html.PartialAsync("_Label", "User Code Type")
            </label>
            <div class="col-sm-9">
                <input type="text" class="form-control" asp-for="UserCodeType">
            </div>
        </div>

        <!--Input - number -->
        <div class="form-group row">
            <label asp-for="DeviceCodeLifetime" class="col-sm-3 col-form-label">
                @await Html.PartialAsync("_Label", "Device Code Lifetime")
            </label>
            <div class="col-sm-9">
                <input type="number" class="form-control" asp-for="DeviceCodeLifetime">
            </div>
        </div>
    </div>
</div>