apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name}}-identity
data:
  ASPNETCORE_ENVIRONMENT: "Development"
  ConnectionStrings__ClassifiedAds: "Server={{ .Release.Name}}-db;Database=ClassifiedAds.Microservices;User Id=sa;Password=sqladmin123!@#;MultipleActiveResultSets=true"
  MessageBroker__Provider: "RabbitMQ"
  MessageBroker__RabbitMQ__HostName: "{{ .Release.Name}}-rabbitmq"
