@page "/"

<div class="card">
    <div class="card-header">
        Welcome ClassifiedAds Blazor version @version
    </div>
    <div class="card-body">
        <div class="container-fluid">
            <div class="text-center">
                <img src="/images/logo.png"
                     class="img-responsive center-block"
                     style="max-height:300px; padding-bottom:10px" />
            </div>

            <div class="text-center">Developed by:</div>
            <div class="text-center">
                <h3>Phong Nguyen</h3>
            </div>

            <div class="text-center">@("@phongnguyend")</div>
            <div class="text-center">
                <a href="https://github.com/phongnguyend/Practical.CleanArchitecture">
                    Practical.CleanArchitecture
                </a>
            </div>
            <div class="text-center">
                <strong>Blazor v@(version)</strong>
            </div>
            <div class="text-center">@DateTimeOffset.Now</div>
        </div>
    </div>
</div>

@code{
    string version = "3.1";
}